<?xml version="1.0"?>
<configuration>
  
  <appSettings>
    <!--Time interval in microseconds-->
    <add key="TimerInterval" value="120000"/>

    <!--Leave a blank value to use the current folder path-->
    <add key="AgentExecutablePath" value=""/>

    <add key="AgentExecutableName" value="StageBitz.Server.Agent.exe"/>

  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
