<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="StageBitzDB" connectionString="metadata=res://*/StageBitzDB.csdl|res://*/StageBitzDB.ssdl|res://*/StageBitzDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MORPHEUS;initial catalog=StageBitz;persist security info=True;user id=stagebitz;password=stagebitz123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="StageBitzDB" connectionString="metadata=res://*/StageBitzDB.csdl|res://*/StageBitzDB.ssdl|res://*/StageBitzDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MORPHEUS;initial catalog=StageBitz;persist security info=True;user id=stagebitz;password=stagebitz123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="StageBitzDB" connectionString="metadata=res://*/StageBitzDB.csdl|res://*/StageBitzDB.ssdl|res://*/StageBitzDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=StageBitzEpic;persist security info=True;user id=sa;password=stagebitz123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="StageBitzDB" connectionString="metadata=res://*/StageBitzDB.csdl|res://*/StageBitzDB.ssdl|res://*/StageBitzDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PERSEUS;initial catalog=StageBitzDev;persist security info=True;user id=stagebitz;password=stagebitz123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
  </connectionStrings>
  <appSettings>
    <!--Global Debug flag for all debug settings (true or false).-->
    <add key="Debug.Enabled" value="true"/>
    <!--Debug setting for System Date (yyyy-MMM-dd HH:mm:ss). Leave blank to ignore. Put 'systemvalue' to refer to system value.-->
    <add key="Debug.SystemDate" value="systemvalue"/>
        <!--Google Analytics settings.-->
        <add key="Google.ClientId" value="170674430580@developer.gserviceaccount.com"/>
        <add key="Google.ProfileId" value="74172761"/>
        <add key="Google.KeyFile" value="D:\\Work\\Analytics\\GoogleApi - Copy\\GoogleApi\\bin\\19506d396832f6eb585bb77917aa397bf96fb3b8-privatekey.p12"/>
        <add key="Google.KeyPass" value="notasecret"/>
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <authentication mode="Forms">
      <!-- 15 days timeout for persistent cookie (60*24*15) -->
      <forms loginUrl="~/Account/Login.aspx" defaultUrl="~/Default.aspx" timeout="21600" name="StageBitzAdminAuth"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <pages theme="Default" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add assembly="StageBitz.AdminWeb" namespace="StageBitz.AdminWeb.Controls.Common" tagPrefix="sb"/>
        <add assembly="Telerik.Web.UI" namespace="Telerik.Web.UI" tagPrefix="telerik"/>
        <add assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagPrefix="asp"/>
      </controls>
    </pages>
    <customErrors defaultRedirect="~/Public/Error.aspx" mode="RemoteOnly"/>
    <globalization culture="en-AU" uiCulture="en-AU" requestEncoding="utf-8" responseEncoding="utf-8"/>
    <identity impersonate="false"/>
    <!--Uncomment these for IIS 6-->
    <!--<httpRuntime maxRequestLength="8192"/>
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" verb="*"
        type="Telerik.Web.UI.WebResource, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4"
        validate="false" />
    </httpHandlers>-->
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <security>
      <requestFiltering>
        <!-- Max request length 8 MB -->
        <requestLimits maxAllowedContentLength="8388608"/>
      </requestFiltering>
    </security>
    <handlers>
      <add name="Telerik.Web.UI.WebResource" path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI"/>
    </handlers>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <add name="X-UA-Compatible" value="IE=9"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>