<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<appSettings>
		<add key="UsersDetailsFilePath" value="D:\Work\StageBitz\Dev\Holding\Dev\Source\StageBitz.Tests\Users.csv"/>
		<add key="URL" value="http://localhost/StageBitz.DevUserWeb/"/>
	</appSettings>
	<startup/></configuration>
