/*Telerik RadGrid Metro Skin*/

/*global*/

.RadGrid_Purple
{
    border:1px solid #e6e6e6;
    background:#ffffff;
    color:#000000;
}

.RadGrid_Purple,
.RadGrid_Purple .rgMasterTable,
.RadGrid_Purple .rgDetailTable,
.RadGrid_Purple .rgGroupPanel table,
.RadGrid_Purple .rgCommandRow table,
.RadGrid_Purple .rgEditForm table,
.RadGrid_Purple .rgPager table,
.GridToolTip_Purple
{
    font:12px/16px "segoe ui",arial,sans-serif;
}

.RadGrid_Purple .rgHeader:first-child,
.RadGrid_Purple th.rgResizeCol:first-child,
.RadGrid_Purple .rgFilterRow>td:first-child,
.RadGrid_Purple .rgRow>td:first-child,
.RadGrid_Purple .rgAltRow>td:first-child
{
	border-left-width:0;
	padding-left:8px;
}

.RadGrid_Purple .rgAdd,
.RadGrid_Purple .rgRefresh,
.RadGrid_Purple .rgEdit,
.RadGrid_Purple .rgDel,
.RadGrid_Purple .rgFilter,
.RadGrid_Purple .rgPagePrev,
.RadGrid_Purple .rgPageNext,
.RadGrid_Purple .rgPageFirst,
.RadGrid_Purple .rgPageLast,
.RadGrid_Purple .rgExpand,
.RadGrid_Purple .rgCollapse,
.RadGrid_Purple .rgSortAsc,
.RadGrid_Purple .rgSortDesc,
.RadGrid_Purple .rgUpdate,
.RadGrid_Purple .rgCancel,
.RadGrid_Purple .rgUngroup,
.RadGrid_Purple .rgExpXLS,
.RadGrid_Purple .rgExpDOC,
.RadGrid_Purple .rgExpPDF,
.RadGrid_Purple .rgExpCSV
{
	background-image:url('Grid/sprite.gif?v=634988533635545065');
}

/*header*/
.RadGrid_Purple .rgHeader,
.RadGrid_Purple th.rgResizeCol
{
	border:0;
	border-bottom:1px solid #e6e6e6;
	
}

.RadGrid_Purple th.rgSorted
{
	background-color:#e6e6e6;
}

.RadGrid_Purple .rgHeader,
.RadGrid_Purple .rgHeader a
{
    color:#757575;
}

.RadGrid_Purple th.rgSorted,
.RadGrid_Purple th.rgSorted a
{
    color:#000000;
}

/*rows*/

.RadGrid_Purple .rgRow td,
.RadGrid_Purple .rgAltRow td,
.RadGrid_Purple .rgEditRow td,
.RadGrid_Purple .rgFooter td
{
	border-style:solid;
	border-width:0 0 1px 1px;
}

.RadGrid_Purple .rgRow td
{
    border:none !important;
	border-bottom:1px #f2f2f2 solid !important;
	
}

.RadGrid_Purple .rgAltRow
{
	background:#FCF7F9;
}

.RadGrid_Purple .rgAltRow td
{
    border:none !important;
	border-bottom:1px #f2f2f2 solid !important;
}

/*.RadGrid_Purple .rgRow .rgSorted
{
	border-bottom-color:#fdfaff;
	background-color:#fdfaff;
}

.RadGrid_Purple .rgAltRow .rgSorted
{
	border-bottom-color:#f1edf2;
	background-color:#f1edf2;
}*/

.RadGrid_Purple .rgSelectedRow .rgSorted,
.RadGrid_Purple .rgActiveRow .rgSorted,
.RadGrid_Purple .rgHoveredRow .rgSorted,
.RadGrid_Purple .rgEditRow .rgSorted
{
	background-color:transparent;
}

.RadGrid_Purple .rgRow a,
.RadGrid_Purple .rgAltRow a,
.RadGrid_Purple tr.rgEditRow a,
.RadGrid_Purple .rgFooter a,
.RadGrid_Purple .rgEditForm a
{
	color:#000000;
}

.RadGrid_Purple .rgHoveredRow
{
    background:#e6e6e6;
} 

.RadGrid_Purple .rgSelectedRow
{
    color:#ffffff;
    background:#c8a9d9;
}

.RadGrid_Purple .rgSelectedRow input,
.RadGrid_Purple .rgSelectedRow a
{
    color:#ffffff;
}

.RadGrid_Purple .rgActiveRow
{
	background:#ffffff 0 -5200px repeat-x url('Grid/sprite.gif?v=634988533635545065');
    color:#000000;
}

.RadGrid_Purple .rgActiveRow input,
.RadGrid_Purple .rgActiveRow a
{
    color:#000000;
}
*+html .RadGrid_Purple .rgSelectedRow .rgSorted{background-color:#eac2ff}
* html .RadGrid_Purple .rgSelectedRow .rgSorted{background-color:#eac2ff}

*+html .RadGrid_Purple .rgActiveRow .rgSorted,
*+html .RadGrid_Purple .rgHoveredRow .rgSorted{background-color:#f6e6ff}
* html .RadGrid_Purple .rgActiveRow .rgSorted,
* html .RadGrid_Purple .rgHoveredRow .rgSorted{background-color:#f6e6ff}

.RadGrid_Purple .rgEditRow
{
	background:#E6E2EB;
	border-top:0px;
}
*+html .RadGrid_Purple .rgEditRow .rgSorted{background-color:#ffffff}
* html .RadGrid_Purple .rgEditRow .rgSorted{background-color:#ffffff}

.RadGrid_Purple .rgHoveredRow td,
.RadGrid_Purple .rgHoveredRow td.rgSorted
{
	border-color:#c2c2c2;
}

.RadGrid_Purple .rgActiveRow td,
.RadGrid_Purple .rgActiveRow td.rgSorted,
.RadGrid_Purple .rgSelectedRow td,
.RadGrid_Purple .rgSelectedRow td.rgSorted
{
	border-color:#c8a9d9;
}

.RadGrid_Purple .rgEditRow td,
.RadGrid_Purple .rgEditRow td.rgSorted
{
	border-color:#616161 #c2c2c2;
}

.RadGrid_Purple .rgDrag
{
	background-image:url('Grid/rgDrag.gif?v=634988533635545065');
}

/*footer*/

.RadGrid_Purple .rgFooterDiv,
.RadGrid_Purple .rgFooter
{
	background:#e3e3e3;
}

.RadGrid_Purple .rgFooter td
{
	border-top:1px solid;
	border-color:#999999 #e3e3e3;
}

/*status*/

.RadGrid_Purple .rgPager .rgStatus
{
	border:1px solid;
	border-color:#e6e6e6;
	border-left-width:0;
}

.RadGrid_Purple .rgStatus div
{
	background-image:url('Common/loading_small.gif?v=634988533635545065');
}

/*pager*/

.RadGrid_Purple td.rgPagerCell
{
	border:1px solid;
	border-color:#e6e6e6;
	border-right-width:0;
}

.RadGrid_Purple .rgInfoPart
{
	color:#787878;
}

.RadGrid_Purple .rgInfoPart strong
{
	color:#000000;
}

.RadGrid_Purple .rgPageFirst
{
	background-position:0 -550px;
}
.RadGrid_Purple .rgPageFirst:hover
{
	background-position:0 -600px;
}
.RadGrid_Purple .rgPagePrev
{
	background-position:0 -700px;
}
.RadGrid_Purple .rgPagePrev:hover
{
	background-position:0 -750px;
}
.RadGrid_Purple .rgPageNext
{
	background-position:0 -850px;
}
.RadGrid_Purple .rgPageNext:hover
{
	background-position:0 -900px;
}
.RadGrid_Purple .rgPageLast
{
	background-position:0 -1000px;
}
.RadGrid_Purple .rgPageLast:hover
{
	background-position:0 -1050px;
}

.RadGrid_Purple .rgPager .rgPagerButton
{
	border-color:#c8a9d9;
	background:#c8a9d9;
	color:#ffffff;
	font:12px/12px "segoe ui",arial,sans-serif;
}

.RadGrid_Purple .rgNumPart a
{
	border:1px #A695AD solid;
	background:#fff;
	color:#675271 !important;
	line-height:20px;
	color:#757575;
	margin:0px 1px !important;
}

.RadGrid_Purple .rgNumPart a:hover
{
	color:#fff !important;
	background-color:#675271;
	border:1px #675271 solid;
}

.RadGrid_Purple .rgNumPart a.rgCurrentPage,
.RadGrid_Purple .rgNumPart a.rgCurrentPage:hover
{
	border:1px #675271 solid;
	color:#fff !important;
	background-color:#675271 !important;
}

/*sorting, reordering*/

.RadGrid_Purple .rgHeader .rgSortAsc
{
	background-position:3px -248px;
	height:10px;
}

.RadGrid_Purple .rgHeader .rgSortDesc
{
	background-position:3px -198px;
	height:10px;
}

.GridReorderTop_Purple,
.GridReorderBottom_Purple
{
	background:0 0 no-repeat url('Grid/sprite.gif?v=634988533635545065');
}

.GridReorderBottom_Purple
{
	background-position:0 -50px;
}

/*filtering*/

.RadGrid_Purple .rgFilterRow td
{
    border-bottom:1px solid #e6e6e6;
}

.RadGrid_Purple .rgFilter
{
	background-position:0 -300px;
}

.RadGrid_Purple .rgFilter:hover
{
	background-position:0 -350px;
}

.RadGrid_Purple .rgFilterActive,
.RadGrid_Purple .rgFilterActive:hover
{
	background-position:0 -400px;
}

.RadGrid_Purple .rgFilterBox
{
	border-color:#e6e6e6;
	font:12px "segoe ui",arial,sans-serif;
	color:#000000;
	height:15px;
}

/*filter context menu*/

.RadMenu_Purple .rgHCMClear,
.RadMenu_Purple .rgHCMFilter
{
	border-color:#7d7d7d;
	background:#c8a9d9;
	color:#000000;
	font-family:"segoe ui",arial,sans-serif;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
}

.RadMenu_Purple .rgHCMClear:hover,
.RadMenu_Purple .rgHCMFilter:hover
{
	border-color:#b693c9;
	background-color:#f6e6ff;
	color:#7b6487;
}

/*context menu*/

.GridContextMenu_Purple .rmLeftImage
{
	background-image:url('Grid/contextMenu.gif?v=634988533635545065');
}

.GridContextMenu_Purple .rgHCMSortAsc .rmLeftImage
{
	background-position:0 0;
}

.GridContextMenu_Purple .rgHCMSortDesc .rmLeftImage
{
	background-position:0 -40px;
}

.GridContextMenu_Purple .rgHCMUnsort .rmLeftImage
{
	background-position:0 -80px;
}

.GridContextMenu_Purple .rgHCMGroup .rmLeftImage
{
	background-position:0 -120px;
}

.GridContextMenu_Purple .rgHCMUngroup .rmLeftImage
{
	background-position:0 -160px;
}

.GridContextMenu_Purple .rgHCMCols .rmLeftImage
{
	background-position:0 -200px;
}

.GridContextMenu_Purple .rgHCMFilter .rmLeftImage
{
	background-position:0 -240px;
}

.GridContextMenu_Purple .rgHCMUnfilter .rmLeftImage
{
	background-position:0 -280px;
}

/*grouping*/

.RadGrid_Purple .rgGroupPanel
{
	border:0;
	border-bottom:1px solid #7d7d7d;
	background:#c8a9d9;
	color:#ffffff;
}

.RadGrid_Purple .rgGroupPanel td
{
	border:0;
	padding:3px 4px;
}

.RadGrid_Purple .rgGroupPanel td td
{
	padding:0;
}

.RadGrid_Purple .rgGroupPanel .rgSortAsc
{
	background-position:4px -144px;
}

.RadGrid_Purple .rgGroupPanel .rgSortDesc
{
	background-position:4px -94px;
}

.RadGrid_Purple .rgUngroup
{
	background-position:0 -6999px;
}

.RadGrid_Purple .rgGroupItem
{
	border:1px solid #7d7d7d;
	background:#ffffff;
	color:#000000;
}

.RadGrid_Purple .rgMasterTable td.rgGroupCol,
.RadGrid_Purple .rgMasterTable td.rgExpandCol
{
	border-color:#c9c9c9;
	background:#c9c9c9 none;
}

.RadGrid_Purple .rgGroupHeader
{
    background:#c9c9c9;
    font-size:1.1em;
    line-height:22px;
	color:#000000;
}

.RadGrid_Purple .rgGroupHeader td
{
	padding-left:8px;
	padding-bottom:2px;
}

.RadGrid_Purple .rgExpand
{
	background-position:5px -496px;
}

.RadGrid_Purple .rgCollapse
{
	background-position:3px -444px;
}

/*editing*/

.RadGrid_Purple .rgEditForm
{
	border-bottom:1px solid #999999;
}

.RadGrid_Purple .rgUpdate
{
	background-position:0 -1800px;
}

.RadGrid_Purple .rgCancel
{
	background-position:0 -1850px;
}

/*hierarchy*/

.RadGrid_Purple .rgDetailTable
{
	border-color:#999999;
}

/*command row*/

.RadGrid_Purple .rgCommandRow
{
	background: #c8a9d9;
	color:#ffffff;
}

.RadGrid_Purple .rgCommandCell
{
	border:0;
	border-bottom:1px solid #e6e6e6;
	padding:0;
}

.RadGrid_Purple tfoot .rgCommandCell,
.RadGrid_Purple .rgMasterTable>tbody>tr.rgCommandRow .rgCommandCell
{
	border-top:1px solid #e6e6e6;
	border-bottom:0;
}

.RadGrid_Purple .rgCommandTable td
{
	border:0;
	padding:2px 7px;
}

.RadGrid_Purple .rgCommandTable
{
	border:0;
}

.RadGrid_Purple .rgCommandRow a
{
	color:#ffffff;
	text-decoration:none;
}

.RadGrid_Purple input.rgAdd
{
	margin-right:3px;
	background-position:0 -1650px;
}

.RadGrid_Purple input.rgRefresh
{
	margin-right:3px;
	background-position:0 -1600px;
}

.RadGrid_Purple .rgEdit
{
	margin-right:3px;
	background-position:0 -1700px;
}

.RadGrid_Purple .rgDel
{
	margin-right:3px;
	background-position:0 -1750px;
}

.RadGrid_Purple .rgExpXLS,
.RadGrid_Purple .rgExpDOC,
.RadGrid_Purple .rgExpPDF,
.RadGrid_Purple .rgExpCSV
{
	background-image:url('Common/export.gif?v=634988533635545065');
}

.RadGrid_Purple .rgExpXLS
{
	background-position:0 0;
}
.RadGrid_Purple .rgExpDOC
{
	background-position:0 -50px;
}
.RadGrid_Purple .rgExpPDF
{
	background-position:0 -100px;
}
.RadGrid_Purple .rgExpCSV
{
	background-position:0 -150px;
}

/*multirow select*/

.GridRowSelector_Purple
{
	background:#545254;
}

/*row drag n drop*/

.GridItemDropIndicator_Purple
{
    border-top:1px dashed #666666;
}

/*tooltip*/

.GridToolTip_Purple
{
	border:1px solid #b693c9;
	padding:3px;
	background:#f9edff;
	color:#333333;
}

/*rtl*/

.RadGridRTL_Purple .rgHeader:first-child,
.RadGridRTL_Purple th.rgResizeCol:first-child,
.RadGridRTL_Purple .rgFilterRow>td:first-child,
.RadGridRTL_Purple .rgRow>td:first-child,
.RadGridRTL_Purple .rgAltRow>td:first-child
{
	border-left-width:1px;
	padding-left:7px;
}

.RadGridRTL_Purple .rgPageFirst
{
	background-position:0 -1000px;
}
.RadGridRTL_Purple .rgPageFirst:hover
{
	background-position:0 -1050px;
}
.RadGridRTL_Purple .rgPagePrev
{
	background-position:0 -850px;
}
.RadGridRTL_Purple .rgPagePrev:hover
{
	background-position:0 -900px;
}
.RadGridRTL_Purple .rgPageNext
{
	background-position:0 -700px;
}
.RadGridRTL_Purple .rgPageNext:hover
{
	background-position:0 -750px;
}
.RadGridRTL_Purple .rgPageLast
{
	background-position:0 -550px;
}
.RadGridRTL_Purple .rgPageLast:hover
{
	background-position:0 -600px;
}

.RadGridRTL_Purple .rgExpand
{
	background-position:-20px -496px;
}




 div.RadGrid_Purple .rgCommandRow {

	background-color: rgb(103, 82, 113);

}

 div.RadGrid_Purple th.rgResizeCol {

	background-color: rgb(230, 226, 235);

}

 div.RadGrid_Purple .rgHeader {

	color: rgb(86, 70, 102);

	background-color: rgb(230, 226, 235) !important;

	font-weight: bold;

}

 div.RadGrid_Purple .rgHeader a {

	color: rgb(86, 70, 102);

	font-weight: bold;

}

 div.RadGrid_Purple .rgRow {

	background-color: #FCF7F9;

}

 div.RadGrid_Purple tr.rgSelectedRow {

	background-color: rgb(255, 255, 255);

}

 div.RadGrid_Purple table .rgActiveRow {

	background-image: none;

	background-color: rgb(255, 255, 255);

}

 div.RadGrid_Purple table tr.rgHoveredRow {

	background-color: rgb(255, 255, 255);

}

 div.RadGrid_Purple .rgAltRow {

	background-color: rgb(255, 255, 255);

	color: rgb(0, 0, 0);

}

 div.RadGrid_Purple .rgFooter {

	background-color: rgb(102, 102, 102);

}

 div.RadGrid_Purple .rgPager .rgPagerCell {

	background-color: #E6E2EB !important ;
}

.RadGrid .rgRow td, .RadGrid .rgAltRow td, .RadGrid .rgEditRow td, .RadGrid .rgFooter td
{
    border:none !important;
}
