/*Telerik RadInput Metro Skin*/

/*global*/

.RadInput_Purple,
.RadInputMgr_Purple
{
	font:12px "segoe ui",arial,sans-serif;
}

/*textbox states*/

html body .RadInput_Purple .riTextBox,
html body .RadInputMgr_Purple
{
	border-color:#e6e6e6;
	background:#ffffff;
	color:#000000;
	font:12px "segoe ui",arial,sans-serif;
}

html body .RadInput_Purple .riEmpty,
html body .RadInput_Empty_Purple
{
	color:#787878;
}

html body .RadInput_Purple .riHover,
html body .RadInput_Hover_Purple
{
	border-color:#757575;
}

html body .RadInput_Purple .riFocused,
html body .RadInput_Focused_Purple
{
	border-color:#c8a9d9;
}

html body .RadInput_Purple .riRead,
html body .RadInput_Read_Purple
{
	border-color:#b0b0b0;
}

html body .RadInput_Purple .riDisabled,
html body .RadInput_Disabled_Purple
{
	color:#c9c7c9;
	cursor:default;
}

html body .RadInput_Purple .riError,
html body .RadInput_Error_Purple
{
	border-color:#cba9de;
	background:#fdfaff 100% -298px no-repeat url('Input/sprite.gif?v=634988533635545065');
	color:#cba9de;
}

.RadForm.rfdTextbox .RadInput_Purple .riError[type="text"],
.RadForm.rfdTextbox .RadInput_Error_Purple[type="text"]
{
	border-color:#cba9de;
	background:#ffffff 100% -298px no-repeat url('Input/sprite.gif?v=634988533635545065');
	color:#cba9de;
}

html body .RadInput_Purple .riNegative,
html body .RadInput_Negative_Purple
{
	color:#575757;
}

/*buttons*/

.RadInput_Purple a
{
	background:transparent no-repeat url('Input/sprite.gif?v=634988533635545065');
}

/*go*/

.RadInput_Purple .riBtn a
{
	width:20px;
	height:18px;
	line-height:18px;
	background-position:3px 5px;
}

.RadInput_Purple .riBtn a:hover
{
	background-position:3px -45px;
}

/*spin*/

.RadInput_Purple .riSpin a
{
	width:15px;
	height:7px;
	line-height:7px;
}

.RadInput_Purple a.riUp
{
      transition: 0s !important;
-moz-transition: 0s !important; /* Firefox 4 */
-webkit-transition: 0s !important; /* Safari and Chrome */
-o-transition: 0s !important; /* Opera */
	background-position:4px -98px;
}

.RadInput_Purple a.riUp:hover
{
	background-position:4px -148px;
}

.RadInput_Purple a.riDown
{
    transition: 0s !important;
-moz-transition: 0s !important; /* Firefox 4 */
-webkit-transition: 0s !important; /* Safari and Chrome */
-o-transition: 0s !important; /* Opera */
	background-position:4px -199px;
	
}

.RadInput_Purple a.riDown:hover
{
	background-position:4px -249px;
	
}

/*label*/

.RadInput_Purple .riLabel
{
	color:#666666;
}

/*rtl*/

html body .RadInputRTL_Purple .riError,
html body .RadInputRTL_Error_Purple
{
	background-position:3px -298px;
}

.RadForm.rfdTextbox .RadInputRTL_Purple .riError[type="text"],
.RadForm.rfdTextbox .RadInputRTL_Error_Purple[type="text"]
{
	background-position:3px -298px;
}
