<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="StageBitzDB" connectionString="metadata=res://*/StageBitzDB.csdl|res://*/StageBitzDB.ssdl|res://*/StageBitzDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=111.67.22.100;initial catalog=StageBitzNoDocumentMedia;persist security info=True;user id=stagebitz;password=stagebitz123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="StageBitzDB" connectionString="metadata=res://*/StageBitzDB.csdl|res://*/StageBitzDB.ssdl|res://*/StageBitzDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Morpheus;initial catalog=StageBitz;persist security info=True;user id=stagebitz;password=stagebitz123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="StageBitzDB" connectionString="metadata=res://*/StageBitzDB.csdl|res://*/StageBitzDB.ssdl|res://*/StageBitzDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=user.stagebitz.com;initial catalog=StageBitz;persist security info=True;user id=stagebitz;password=SBG3v3O;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="StageBitzDB" connectionString="metadata=res://*/StageBitzDB.csdl|res://*/StageBitzDB.ssdl|res://*/StageBitzDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=user.stagebitz.com;Initial Catalog=StagBitzTest;Persist Security Info=True;user id=stagebitz;Password=SBG3v3O;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
     <!--<add name="StageBitzDB" connectionString="metadata=res://*/StageBitzDB.csdl|res://*/StageBitzDB.ssdl|res://*/StageBitzDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=user.stagebitz.com;initial catalog=StageBitzTest;persist security info=True;user id=stagebitz;password=SBG3v3O;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->


  </connectionStrings>
  <appSettings>
    <!--Google Analytics Settings-->
    <add key="AnalyticsAccount" value="UA-41426621-3" />
    <add key="AnalyticsDomain" value="none" />
    <!--UserVoice Account Key-->
    <add key="UserVoiceAccountKey" value="dvKA8mPGVhkBlSdSLq1udA" />
    <!--Global Debug flag for all debug settings (true or false).-->
    <add key="Debug.Enabled" value="true" />
    <!--Debug setting for System Date (yyyy-MMM-dd HH:mm:ss). Leave blank to ignore. Put 'systemvalue' to refer to system value.-->
    <add key="Debug.SystemDate" value="systemvalue" />
        <add key="vs:EnableBrowserLink" value="false" />
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime executionTimeout="180" maxRequestLength="32768" />
    <compilation debug="true" targetFramework="4.5" />
    <authentication mode="Forms">
      <!-- 15 days timeout for persistent cookie (60*24*15) -->
      <forms loginUrl="~/Account/Login.aspx" defaultUrl="~/Default.aspx" timeout="21600" name="StageBitzUserAuth" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <pages theme="Default" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add assembly="StageBitz.UserWeb" namespace="StageBitz.UserWeb.Controls.Common" tagPrefix="sb" />
        <add assembly="Telerik.Web.UI" namespace="Telerik.Web.UI" tagPrefix="telerik" />
        <add assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagPrefix="asp" />
      </controls>
    </pages>
    <customErrors defaultRedirect="~/Public/Error.aspx" mode="Off" />
    <globalization culture="en-AU" uiCulture="en-AU" requestEncoding="utf-8" responseEncoding="utf-8" />
    <identity impersonate="false" />
    <!--Uncomment these for IIS 6-->
    <!--<httpRuntime maxRequestLength="32768"/>
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" verb="*"
        type="Telerik.Web.UI.WebResource, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4"
        validate="false" />
    </httpHandlers>-->
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <security>
      <requestFiltering>
        <!-- Max request length 32 MB -->
        <requestLimits maxAllowedContentLength="33554432" />
      </requestFiltering>
    </security>
    <handlers>
      <add name="Telerik.Web.UI.WebResource" path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

    <!--<httpProtocol>
      <customHeaders>
        <clear/>
        <add name="X-UA-Compatible" value="IE=10"/>
      </customHeaders>
    </httpProtocol>-->

  </system.webServer>
</configuration>