ol {
   margin: 0;
   padding: 0
}

li
{
	margin-bottom:15px;
	background: url(../images/footer-white-gradient.png?v=634988084576096252)
}

.c5 {
   padding-left: 0pt;
   line-height: 1.0;
   direction: ltr;
   margin-left: 72.0pt;
}

.c3 {
   padding-left: 0pt;
   line-height: 1.0;
   direction: ltr;
   margin-left: 36.0pt;
}

.c0 {
   padding-left: 0pt;
   line-height: 1.0;
   direction: ltr;
   margin-left: 54.0pt;
}

.c8 {
   padding-left: 0pt;
   line-height: 1.0;
   direction: ltr;
   margin-left: 90.0pt;
}

.c11 {
   padding-left: 0pt;
   line-height: 1.0;
   direction: ltr;
   margin-left: 36.0pt
}

.c7 {
   line-height: 1.0;
   height: 12pt;
   direction: ltr;
}

.c2 {
   color: #000000;
   font-size: 14pt;
}

.c9 {
   line-height: 1.0;
   height: 12pt;
   direction: ltr
}

.c13 {
   list-style-type: upper-latin;
   margin: 0;
   padding: 0
}

.c10 {
   width: 481.8999999999999pt;
   background-color: #ffffff;
   padding: 56.7pt 56.7pt 56.7pt 56.7pt
}

.c6 {
   list-style-type: decimal;
   margin: 0;
   padding: 0
}

.c14 {
   line-height: 1.0;
   direction: ltr;
   padding-bottom: 6.0pt
}

.c1 {
   color: #000000;
   
}

.c12 {
   font-style: italic
}

.c4 {
   font-weight: bold
}

body {
   color: #000000;
}


h4 
{
	color:Black;
   font-size: 12pt;
   font-weight: bold;
}
